*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: url("../img/moroccan-flower.png");
}

   

header{
    background: rgba(172, 78, 1, 0.863);
}

.title-header{
    padding: 10px;
    margin-top: 25px;
    text-align: center;
}
    .title-header a{
        color: rgb(36, 0, 0);
        font-size: 60px;
        font-weight: 1000;
        text-decoration: none;
        font-family: 'Festive', cursive;
    }

.social-header{
    padding: 10px;
    margin-top: 25px;
}
    .social-header a{
        color: #fff;
    }
        .social-header a .fa-inverse{
            color: rgb(0, 0, 0);
        }

.menu-bar{
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
}
    .menu-bar a{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }
    .menu-bar a:hover{
        color: rgb(237,27,36);
    }

    .menu-list{
        padding: 12px 0;
        margin-bottom: 0;
        font-family: Roboto black;
    }
        .menu-list > li:not(:last-child){
            margin-right: 25px;
        }

/* slider */

#slider-home{
    margin-bottom: 50px;
    width: 100%;
}

.carousel-caption{
    /* background-color: rgba(237,27,36,0.50); */
    background-color: rgba(172, 78, 1, 0.7);
    height: 100%;
    left: 0;
    top: 0;
    padding: 45px 45px;
    text-align: left;
    width: 340px;
}

    .carousel-caption p{
        font-size: 14px;
        line-height: 18px;
    }

    .carousel-caption h2{
        font-size: 26px;
        line-height: 18px;
    }

    .carousel-caption .h4{
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 8px;
    }

    .carousel-caption img{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .carousel-caption a{
        border-radius: 0;
        font-weight: bold;
        color: rgb(237,27,36);
        border: none;
        background-color: seashell;
    }

h3{
    font-size: 24px;
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
}

.mar__top-20{
    margin-top: 20px;
}

.card{
    width: 100%;
    /* height: 18rem; */
    margin-bottom: 20px;
    border-end-end-radius: 50px;
}

.card-header{
    background: rgba(172, 78, 1, 0.863);
    height: 50px;   
}

    .card-header h5 {
        font-family: 'Festive', cursive;
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 1000;
    }

.card-body{
    font-family: 'Roboto', sans-serif;
}

.card-desc{
    height: 3rem;
}

.card-price{
    text-align: right;
}