<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Festive&display -->
    <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">

    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 title-header">
                    <a href="/">
                        The Restaurant
                    </a>
                </div>
            </div>
        </div>
        <div class="menu-bar text-md-end">
            <nav class="container" role="menu">
                <ul class="menu-list list-inline">
                    <li class="list-inline-item">
                        <a href="/">INICIO</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/ourLetter">NUESTRA CARTA</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/addFoodPlates">AGREGAR PLATOS</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>